.nav-menu
{
    width: 940px;
    height: auto;
    margin: auto;
    background-color: #EDEDED;
    padding: 20px 10px;
    position: relative;
    z-index: 999;
}
    .nav-menu:before
    {
        content: ' ';
        display: block;
        position: absolute;
        width: 940px;
        height: 37px;
        margin: auto;
        margin-top: -57px;
        background: url('/CCTemplates/Default/images/image.sprite.png') no-repeat top left;
        background-repeat: no-repeat;
        background-position: center top;
        background-position: center -946px; 
    }
    .nav-menu:after
    {
        content: ' ';
        display: block;
        position: absolute;
        width: 940px; 
        height: 38px;
        margin: auto;
        margin-top: 20px;
        background: url('/CCTemplates/Default/images/image.sprite.png') no-repeat top left;
        background-position: center -858px; 

    }
    .nav-menu nav
    {
        border: 1px solid #CCCCCC;
        border-right: none;
        width: 238px;
        height: 228px;
        float: left;
    }
        .nav-menu nav a
        {
            display: block;
            width: 240px;
            height: 38px;
            color: #400106;
            background-color: #EDEDED;
            font-weight: normal;
            font-size: 12px;
            line-height: 34px;
            text-transform: uppercase;
            text-indent: 20px;

        }
            .nav-menu nav a:hover
            {
                background-color: #FFFFFF;
            }
                .nav-menu nav a:before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    height: 38px;
                    width: 10px;
                    background-color: #EDEDED;
                    margin-left: -11px;
                    -web-kit-transition: background-color 2s, -web-kit-transform 2s;
                    -webkit-transition: background-color 2s, transform 2s;
                    -moz-transition: background-color 2s, transform 2s;
                    -ms-transition: background-color 2s, transform 2s;
                    -o-transition: background-color 2s, transform 2s;
                    transition: background-color 2s, transform 2s;
                }
                .nav-menu nav a:hover:before
                {
                    background-color: #A60311;
                }
    .nav-menu img
    {
        width: 700px;
        height: 228px;
        border: 1px solid #CCCCCC;
        border-left: none;
        float: left;
    }
.nav-menu div.hidden-links {
    float: left;
    position: absolute;
    margin-left: 239px;
    width: 500px;
    height: 228px;
    background: transparent;
    z-index: 1000;
}
.nav-menu div.hidden-links nav {
    border-left: none;
}
.nav-menu div.hidden-links nav a:before {
    background-color: #EDEDED !important;
}
